In [42]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [43]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [44]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [45]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [46]:
#split training and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [52]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(criterion="mae",max_features="log2",n_estimators=100,random_state=0)
regressor.fit(x_train,y_train)
regressor

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=None,
                      max_features='log2', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [53]:
y_pred=regressor.predict(x_test)
y_pred

array([10778.65229675,  9060.15512485, 43006.2166784 , 13611.453025  ,
       10358.9989965 , 10628.84783235,  1944.75350225, 11571.9636025 ,
        7403.4063933 ,  6349.940368  ,  6190.5331343 , 12770.21134725,
        8694.70805915,  5298.3489853 , 23113.7856541 , 11817.9123308 ,
       13985.81959975,  4020.8779053 ,  6756.36250185, 32834.1650135 ,
       24531.60649685, 13538.7103222 , 11726.96842495, 25429.7154183 ,
        3170.8617504 ,  7157.2615997 ,  5089.0859134 ,  7681.7498675 ,
        3993.4970285 , 11081.5332311 ,  8375.8541125 , 46199.92184115,
       13845.354145  , 14062.4882951 , 18006.947709  ,  4194.8096005 ,
        8861.17603715, 37387.3645214 , 39561.3096105 ,  2323.72278175,
        6342.2340507 ,  3851.5239203 , 21601.21212905, 46564.3788673 ,
       37478.119011  ,  4281.5506513 , 11863.2929753 ,  6508.647215  ,
        6721.3409218 , 13289.298231  ,  4729.164172  ,  4553.47158405,
       26439.9644487 , 44363.503848  , 11718.5065035 , 11506.90276035,
        5576.19260165, 11320.62283165,  9437.71741   , 15813.5765673 ,
        2635.80760945, 44311.1907306 , 16413.3221766 , 19359.29036965,
       11166.9081744 ,  9770.890242  , 32804.5453451 , 38090.7445406 ,
        5023.91730885,  8727.7928684 , 15043.5763842 , 12721.58188725,
       17255.2093164 , 14734.8222751 , 13649.96230475, 13849.25181815,
       10186.3417779 , 16860.2131659 , 21038.49282365, 45628.27031105,
       11342.9248575 , 46886.1712683 ,  3979.06505455, 10247.5306431 ,
       39425.7480461 , 19740.1929315 ,  4657.339903  ,  3173.6054661 ,
       13956.88328865, 38037.3370226 ,  6181.5993692 , 14341.16731055,
        3082.41174915,  9101.23859095,  9833.67631535,  4692.0953585 ,
       42510.8949669 , 41325.3506924 ,  5374.6221362 , 11325.7731894 ,
        4647.34446405,  6983.1526956 ,  7590.4178188 , 38583.2402329 ,
       27216.0708824 ,  5606.1820988 , 11134.4933637 ,  5100.60883395,
       11799.7233703 , 43775.30141375, 11817.7034441 ,  7358.468897  ,
       10101.48704635, 34594.9940678 , 44576.1806075 ,  7313.58504345,
        3062.80468325, 11736.24008755, 17879.94480945, 10489.2067588 ,
       41159.1349666 , 11149.2390279 , 14670.3891835 ,  7951.1739267 ,
       10442.21065935,  5449.8833747 , 24133.4668988 , 23045.6261183 ,
       46557.00752125,  2258.01490475, 12048.1107966 ,  3595.32549645,
        6383.0975192 ,  9381.58205145, 36663.3975701 , 35935.1546797 ,
       26163.81491695, 11545.80968985, 24450.5283792 ,  5716.96780515,
        2268.67873695, 12411.7867113 , 11011.82956545, 11172.723154  ,
        6766.4455554 , 14423.7031455 , 20831.2225522 , 11140.3515706 ,
        1830.6875798 , 12440.3684135 ,  6097.158356  , 38033.9793741 ,
       10107.78685385,  5308.02737245,  3172.95252625,  7356.997488  ,
        3159.2971314 ,  5634.46045785, 11817.9123308 ,  9654.9211346 ,
        6065.5561326 , 13526.676824  , 13092.95058865,  9302.782965  ,
        5360.3520571 ,  6932.0146064 , 17675.3187054 ,  8917.2191497 ,
        4859.1243673 ,  2486.38099125,  7329.6558258 ,  6156.98323935,
       11375.2985642 ,  3353.29180555,  6621.5268788 ,  6988.2856964 ,
        5014.4336595 ,  6633.7058397 , 30995.5653931 ,  1943.6825268 ,
       17763.58632355,  6430.4283207 , 11622.5602261 ,  6441.04015715,
        7554.827512  , 27531.4397585 ,  4091.26432105,  3023.94049925,
       14352.536798  , 10288.1988607 , 41105.0518943 ,  7373.8927773 ,
        5543.28535375, 26306.4118605 ,  3762.46735855,  2651.39083235,
        7142.89682015,  6535.944874  ,  9338.3741736 ,  4495.7144135 ,
       12783.6490568 , 44144.45356575, 15004.8854864 , 19299.4327505 ,
       13708.7614049 , 43522.2290953 ,  4742.2278855 , 10287.6839906 ,
       10085.1247837 ,  3819.7502995 ,  8680.7058065 , 13612.9360827 ,
        7848.0060743 ,  4759.08505675,  6610.580985  ,  4253.24706365,
        6718.5479203 ,  6379.5733375 , 13959.9015518 ,  7616.8498325 ,
        8869.6517856 ,  7978.6803874 ,  9980.24285185, 10293.545506  ,
       12444.5715294 , 14248.4084135 , 15922.2884618 , 12089.9596843 ,
        6772.0425807 ,  2640.0470315 ,  2656.69547345,  8124.46818125,
       14666.6224011 ,  8595.37991265,  7214.113847  ,  7317.0237657 ,
       12208.23646715, 34017.5271601 ,  6114.3372515 , 12239.4324911 ,
        5678.2965035 , 35534.9425334 ,  9295.9106826 ,  8450.7035754 ,
       10507.6244284 , 10830.74752325,  3529.4160888 ,  9019.3530928 ,
        4382.3296322 ,  6374.0227134 , 19099.8758593 , 45187.517656  ,
        5834.4952928 ,  5033.7062013 ,  9259.635083  ,  1626.1523515 ,
        8781.0934755 ,  3989.67943775,  7089.2452087 , 10388.5453695 ,
        8879.4950985 , 24791.76482015, 43658.75654075, 15444.19591445,
        6382.1491839 , 11145.791838  , 40961.9800959 , 10489.5773027 ,
       40611.8521695 ,  1288.0130425 , 37382.1747803 ,  7481.2139778 ,
       13057.882786  ,  8520.7707563 , 39490.5492893 ,  5573.6822238 ,
       10111.60389945,  9984.1716361 ,  4092.9112434 , 15298.3402455 ,
       11764.2574825 , 10104.65597185, 14109.09167885, 12805.3901015 ,
        6979.5955236 ,  4814.7297308 ,  9261.600316  , 21951.94092765,
        4461.5196768 ,  1960.1060703 ,  2946.81472025, 46319.50519745,
       11423.42989485,  4988.409067  , 14293.4545015 , 15056.4449883 ,
       34145.6361955 ,  6892.0002679 ,  5903.9436891 ,  8804.70795525,
        5010.43606565,  5078.8721256 , 19464.489228  , 18093.7357868 ,
       13569.87700415,  2678.826765  ,  3709.2948973 , 10489.512525  ,
       10677.43090655, 17702.9034273 , 20698.1505965 ,  7299.3577813 ,
       18172.7048215 ,  2504.344475  ,  7772.63047775,  9563.39666475,
       13242.98735   ,  2991.72931805,  9028.1218165 , 45317.5836123 ,
        4223.3608567 ,  5045.0499864 ,  2426.02953215, 12505.69135695,
        4987.67674815, 12156.3970667 , 43985.47763265, 18837.3071567 ,
        9135.9330353 , 41122.1039273 , 14671.2830335 , 14022.0987634 ,
       10072.6082224 ,  5821.7328838 , 28942.6623325 ,  4750.5575125 ,
       14834.9908454 ,  2620.8618197 , 18039.6283472 ,  3960.7657901 ,
       25897.3687999 ,  7924.6214927 ,  4140.30691025, 38811.2189204 ,
        8784.5030049 ,  5227.83789875, 34048.8793662 ,  5004.84558785,
       10188.3417597 ,  3801.64478695, 12420.7669069 ,  4207.94420265,
        6754.968674  ,  8163.763885  , 43936.131039  , 10799.3853741 ,
       34099.394014  , 37432.3702165 ,  6111.6093509 ,  9249.2284177 ,
        2232.01054375,  5474.7384242 ,  4197.61757395,  8541.27577225,
       46377.3794214 , 11267.166155  ,  2340.11944305, 13171.39273815,
        2489.3417392 , 13471.31856205, 11268.0545267 ,  2463.9165472 ,
        5197.8121367 , 36554.3997934 ,  7349.0108795 ,  2148.22725975,
       40392.0719419 , 12039.40445125, 43003.6838987 , 11254.671464  ,
        6184.4902243 ,  2547.02877925,  2271.545582  , 12794.47932335,
        5633.601301  ,  2298.63980645, 11588.9735573 ,  7244.608486  ,
        7584.76734465,  7729.508098  ,  8356.72735605, 40639.6944716 ,
        5090.5797676 , 16132.0193864 ,  7248.87366335, 16148.9404298 ,
       11307.7679194 ,  8483.59316   , 18909.5592465 , 13466.9004867 ,
       17058.50765105, 19313.8339529 ])

In [54]:
from sklearn.metrics import r2_score
r2_score=r2_score(y_pred,y_test)
r2_score

0.8508312640761915