In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [6]:
#split training and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [58]:
#model creation
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(criterion='friedman_mse',max_features="log2",splitter='random')
regressor.fit(x_train,y_train)
regressor

DecisionTreeRegressor(criterion='friedman_mse', max_depth=None,
                      max_features='log2', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort=False,
                      random_state=None, splitter='random')

In [59]:
y_pred=regressor.predict(x_test)
y_pred

array([ 9144.565   ,  8930.93455 , 44202.6536  , 10325.206   ,
        9264.797   ,  1702.4553  ,  1615.7667  , 10381.4787  ,
        7281.5056  ,  3481.868   ,  5693.4305  , 10156.7832  ,
        7050.642   ,  4992.3764  , 35147.52848 , 10381.4787  ,
       12142.5786  ,  1981.5819  ,  6455.86265 , 35585.576   ,
       23306.547   , 12629.1656  ,  9625.92    , 40974.1649  ,
        1826.843   , 12404.8791  , 23288.9284  ,  7418.522   ,
        4934.705   ,  8334.45755 , 15828.82173 , 27218.43725 ,
       13555.0049  , 11365.952   , 33900.653   ,  3554.203   ,
        7448.40395 , 34806.4677  , 39836.519   ,  3579.8287  ,
        4134.08245 ,  4237.12655 , 21082.16    , 43813.8661  ,
       38792.6856  ,  1880.07    , 10381.4787  ,  7160.094   ,
        4719.52405 , 12044.342   ,  3021.80915 ,  4234.927   ,
       24393.6224  , 44641.1974  , 11856.4115  ,  2689.4954  ,
        1826.843   ,  8835.26495 , 10096.97    , 12142.5786  ,
        1712.227   , 47055.5321  , 11987.1682  , 25333.33284 ,
        8068.185   ,  9877.6077  , 17352.6803  , 36189.1017  ,
        2913.569   ,  6600.361   , 13429.0354  , 10965.446   ,
       17043.3414  , 13887.204   , 12629.8967  , 12629.8967  ,
        7526.70645 ,  8116.26885 , 19107.7796  , 28868.6639  ,
       11658.11505 , 63770.42801 ,  1981.5819  ,  8334.45755 ,
       38245.59327 , 17904.52705 ,  3766.8838  ,  3062.50825 ,
       12913.9924  , 36950.2567  ,  6360.9936  , 24476.47851 ,
        3201.24515 ,  7144.86265 ,  4536.259   ,  7358.17565 ,
       41999.52    , 42760.5022  ,  4949.7587  , 10982.5013  ,
        1981.5819  ,  4762.329   ,  1880.07    , 39774.2763  ,
       19361.9988  ,  3176.8159  , 11165.41765 ,  3577.999   ,
       11362.755   , 48673.5588  , 12094.478   , 19442.3535  ,
        8871.1517  , 33750.2918  , 27218.43725 ,  7160.094   ,
        2103.08    ,  8835.26495 , 11946.6259  ,  9225.2564  ,
       60021.39897 , 12032.326   , 14901.5167  , 19442.3535  ,
        7050.642   ,  7133.9025  , 40974.1649  , 18767.7377  ,
       48673.5588  ,  1534.3045  ,  7640.3092  ,  1727.54    ,
        5974.3847  ,  8782.469   , 62592.87309 , 20773.62775 ,
       37829.7242  , 10156.7832  , 23887.6627  ,  2639.0429  ,
        2719.27975 , 10796.35025 , 11365.952   , 10601.63225 ,
        4239.89265 , 16069.08475 , 47896.79135 ,  2913.569   ,
        1628.4709  , 10436.096   ,  5003.853   , 38126.2465  ,
       10560.4917  ,  1842.519   ,  3766.8838  ,  7153.5539  ,
        3877.30425 ,  1842.519   , 10381.4787  ,  9715.841   ,
        3693.428   , 12981.3457  , 12629.8967  , 10450.552   ,
        4134.08245 ,  3443.064   , 20167.33603 ,  6128.79745 ,
        5031.26955 ,  1633.0444  ,  3693.428   ,  4438.2634  ,
        7640.3092  ,  1826.843   ,  3481.868   ,  3443.064   ,
        5209.57885 ,  7173.35995 , 46130.5265  ,  2304.0022  ,
       10806.839   ,  6203.90175 , 11945.1327  ,  2497.0383  ,
        5209.57885 , 47055.5321  ,  1526.312   ,  2710.82855 ,
       16069.08475 , 10848.1343  , 39727.614   , 20177.67113 ,
        5385.3379  , 22218.1149  ,  1826.843   ,  3070.8087  ,
        6203.90175 ,  6360.9936  , 19442.3535  ,  5031.26955 ,
       10928.849   , 49577.6624  , 11881.9696  , 20745.9891  ,
        3659.346   , 42111.6647  ,  6593.5083  ,  9144.565   ,
        6313.759   ,  1146.7966  ,  8964.06055 , 13844.7972  ,
        4234.927   ,  2855.43755 ,  7256.7231  ,  2483.736   ,
       11737.84884 ,  7228.21565 , 14001.1338  ,  6933.24225 ,
        6360.9936  ,  7985.815   ,  8988.15875 ,  3176.8159  ,
       12231.6136  , 14410.9321  , 12646.207   , 12224.35085 ,
        4827.90495 ,  3070.8087  ,  1639.5631  ,  7448.40395 ,
       12622.1795  , 24671.66334 ,  4931.647   ,  7256.7231  ,
        9447.25035 , 34472.841   ,  5488.262   , 11150.78    ,
        5910.944   , 36189.1017  ,  8527.532   ,  7419.4779  ,
        6849.026   , 10825.2537  ,  6593.5083  ,  7345.7266  ,
        2150.469   ,  7518.02535 , 19107.7796  , 15230.32405 ,
        3577.999   ,  3766.8838  ,  1875.344   ,  1704.70015 ,
        8334.5896  ,  2136.88225 ,  3906.127   ,  3594.17085 ,
        8891.1395  , 40974.1649  , 47055.5321  , 15230.32405 ,
        7256.7231  , 10982.5013  , 39983.42595 ,  9225.2564  ,
       60021.39897 ,  1137.011   , 36021.0112  ,  4889.9995  ,
       12430.95335 ,  3046.062   , 39774.2763  ,  5012.471   ,
       10072.05505 , 10096.97    ,  1980.07    , 36580.28216 ,
       12224.35085 ,  4536.259   , 12741.16745 , 21344.8467  ,
        6082.405   ,  1981.5819  ,  7418.522   , 21880.82    ,
        2438.0552  ,  1632.56445 ,  1832.094   , 36580.28216 ,
       30284.64294 ,  4149.736   , 11881.9696  , 35160.13457 ,
       36021.0112  ,  6770.1925  ,  3704.3545  ,  9048.0273  ,
        1639.5631  ,  3877.30425 , 15006.57945 , 34838.873   ,
       13844.7972  ,  3070.8087  ,  2130.6759  ,  7726.854   ,
        9144.565   , 20167.33603 , 19361.9988  ,  6360.9936  ,
       20167.33603 ,  2459.7201  ,  6610.1097  ,  4536.259   ,
       20878.78443 ,  2103.08    ,  6250.435   , 48885.13561 ,
        2166.732   ,  2130.6759  ,  1731.677   ,  8280.6227  ,
        3943.5954  , 12224.35085 , 47291.055   , 18767.7377  ,
        9288.0267  , 21259.37795 , 12629.1656  , 19442.3535  ,
        9174.13565 ,  1682.597   , 13429.0354  ,  4779.6023  ,
       13415.0381  ,  1705.6245  , 20167.33603 ,  3176.8159  ,
       41999.52    ,  5400.9805  ,  2483.736   , 36021.0112  ,
        6128.79745 ,  5267.81815 , 36580.28216 ,  1639.5631  ,
        6849.026   ,  1252.407   , 11015.1747  ,  3208.787   ,
        4463.2051  ,  3481.868   , 48549.17835 ,  8601.3293  ,
       19107.7796  , 44501.3982  ,  5488.262   , 10096.97    ,
        1252.407   ,  3176.8159  , 20177.67113 ,  8068.185   ,
       48549.17835 , 10965.446   ,  1731.677   , 12124.9924  ,
        2020.5523  , 17929.30337 , 20277.80751 ,  1682.597   ,
        2904.088   , 34828.654   ,  1694.7964  ,  2196.4732  ,
       39774.2763  , 10791.96    , 44202.6536  , 11931.12525 ,
       12404.8791  ,  1241.565   ,  1875.344   , 10156.7832  ,
        4747.0529  ,  2719.27975 , 10806.839   ,  7281.5056  ,
        6358.77645 , 20177.67113 , 13126.67745 , 44585.45587 ,
        1526.312   ,  8601.3293  ,  7882.429475,  7443.64305 ,
       10982.5013  ,  2689.4954  , 20745.9891  , 10325.206   ,
       30166.61817 , 14254.6082  ])

In [60]:
#Validation
from sklearn.metrics import r2_score
r2_score=r2_score(y_pred,y_test)
r2_score

0.6779924773297492